<h2 mat-dialog-title>{{data.title}}</h2>
<mat-dialog-content>
  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    @if (data.user) {
      <p>Passwort für <strong>{{data.user.firstName}} {{data.user.lastName}}</strong> ({{data.user.email || data.user.nickname}}) setzen:</p>
    } @else {
      <p>Ihr Passwort ändern:</p>
    }
    @if (!data.user) {
      <mat-form-field appearance="fill">
        <mat-label>Aktuelles Passwort</mat-label>
        <input matInput formControlName="currentPassword" type="password" />
        <mat-error *ngIf="passwordForm.get('currentPassword')?.hasError('required')">Aktuelles Passwort ist erforderlich</mat-error>
      </mat-form-field>
    }
    <mat-form-field appearance="fill">
      <mat-label>Neues Passwort</mat-label>
      <input matInput formControlName="password" type="password" />
      <mat-error *ngIf="passwordForm.get('password')?.hasError('required')">Passwort ist erforderlich</mat-error>
      <mat-error *ngIf="passwordForm.get('password')?.hasError('minlength')">Passwort muss mindestens 6 Zeichen lang sein</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Passwort bestätigen</mat-label>
      <input matInput formControlName="confirmPassword" type="password" />
      <mat-error *ngIf="passwordForm.get('confirmPassword')?.hasError('required')">Passwort-Bestätigung ist erforderlich</mat-error>
      <mat-error *ngIf="passwordForm.get('confirmPassword')?.hasError('passwordMismatch')">Passwörter stimmen nicht überein</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button (click)="onCancel()">Abbrechen</button>
  <button [disabled]="passwordForm.invalid" mat-raised-button (click)="onSubmit()" cdkFocusInitial>{{data.confirmationText}}</button>
</mat-dialog-actions>

