.navbar {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  color: black;
  background-color: #d7f7ff;

  .navbar-title {
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-right: 2rem;
  }

  .navbar-links {
    display: flex;
    align-items: center;
    gap: 1rem; // spacing between buttons
  }

  a[mat-button] {
    color: black;
    text-transform: uppercase;
    font-weight: 500;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }

  .navbar-spacer {
    flex: 1 1 auto; // pushes logout to the right
  }

  button {
    font-weight: 600;
  }

  .navbarLogo{
    width: 50px;
    margin-right: 0.5rem;
  }
}