<table mat-table [dataSource]="dataSource()" class="mat-elevation-z8">

  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef> Vorname </th>
    <td mat-cell *matCellDef="let user"> {{user.firstName}} </td>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef> Nachname </th>
    <td mat-cell *matCellDef="let user"> {{user.lastName}} </td>
  </ng-container>

  <ng-container matColumnDef="nickname">
    <th mat-header-cell *matHeaderCellDef> Benutzername </th>
    <td mat-cell *matCellDef="let user"> {{user.nickname || '-'}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> E-Mail </th>
    <td mat-cell *matCellDef="let user"> {{user.email || '-'}} </td>
  </ng-container>

  <ng-container matColumnDef="roles">
    <th mat-header-cell *matHeaderCellDef> Rollen </th>
    <td mat-cell *matCellDef="let user"> {{getRoleNames(user.roles)}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let user">
      <button mat-icon-button (click)="updateMember.emit(user)" matTooltip="Bearbeiten">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="deleteMember.emit(user)" matTooltip="Löschen">
        <mat-icon>delete</mat-icon>
      </button>
      @if (hasVorstandRole(user)) {
        <button mat-icon-button (click)="setPassword.emit(user)" matTooltip="Passwort setzen">
          <mat-icon>lock</mat-icon>
        </button>
      }
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

