<h2 mat-dialog-title>{{data.title}}</h2>
<mat-dialog-content>
<form [formGroup]="roleForm" (ngSubmit)="onSubmit()">

    <div class="form-row">

    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" type="text" placeholder="" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Discordposition</mat-label>
      <input matInput formControlName="discordPosition" type="number" placeholder="" />
    </mat-form-field>
  </div>
</form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button (click)="onCancel()">Abbrechen</button>
  <button [disabled]="roleForm.invalid" mat-raised-button (click)="onSubmit()" cdkFocusInitial>{{data.confirmationText}}</button>
</mat-dialog-actions>